/* MQ Template */


/* Smartphones (portrait) ---------------- */
@media only screen 
and (max-width : 320px)
{
    .navbar {
        max-width: 50%;
        max-height: 50%;
      }
}

/* Smartphones (landscape) ---------------- */
@media only screen 
and (min-width : 321px)
and (max-width : 767px)
{
    .navbar {
        max-width: 50%;
        max-height: 50%;
      }
}

/* Tablets (portrait) -------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
    .navbar {
        max-width: 75%;
        max-height: 75%;
      }
}


/* Tablets (landscape) ------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{   
    .navbar {
        max-width: 100%;
        max-height: 100%;
      }
}

/* Old Desktops and laptops ------------------ */
@media only screen 
and (min-width : 1025px) 
{
/* Add Your CSS Styling Here */
}

/* Desktops ------------------ */
@media only screen 
and (min-width : 1201px) 
{
/* Add Your CSS Styling Here */
}
